@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(null, null, FormMethod.Post, new { id = "logoutForm", @class="hide" }))
    {
        @Html.AntiForgeryToken()
       // @Html.ActionLink("LogOff", "LogOff", "Account", null, htmlAttributes: new { @id="logOfflink"})
    }
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/img/user2-160x160.jpg" class="user-image" alt="User Image">
                <span class="hidden-xs">@User.Identity.GetUserName()</span>
            </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                    <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                    <p>
                        @User.Identity.GetUserName() - Web Developer
                        <small>Member since Nov. 2012</small>
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="#">Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Friends</a>
                        </div>
                    </div>
                    <!-- /.row -->
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                    <div class="pull-left">
                        @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "btn btn-default btn-flat" })
                    </div>
                    <div class="pull-right">
                        <a href="#" class="btn btn-default btn-flat" id="logOff">Sign out</a>
                    </div>
                </li>
            </ul>
        </li>

    //}
}
else
{

    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}


